body{
    background-image: url("../img/circuito.png");
    backrgound-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

h1{
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;/*100 200 300 400(normal) 500 600 700(bold) 800 900 */
    line-height: 2;
    text-align: center;
    /* left right justify center */
    text-decoration: line-through darkgreen;
    /* underline line-through overline none */
    color: #ff1122; /* rgba(255,15,34,0.7) */
    background-color: beige;
    border:1px solid #ff1122;
}