*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    font-weight: 200;
    background-color: #f2f2f2;
    color: #b3b3b3;
}
a{
    text-decoration: none;
    color: #b3b3b3;
}
li{
    list-style: none;
}
.menu-top .icon{
    max-width: 30px;
    padding: 0 5px 0 10px;
}
.logo img{
    max-width: 40px;
}
.header,.main-content,.body-top-slogan,.body-top-nav,.product,.footer{
    float: left;
    width: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.header{
    background-color: white;
    padding-top: 20px;
}
.header-left{
    float: left;
    width: 45%;
}
.header-left li{
    float: left;
}
.logo{
    float: left;
    width: 10%;
}
.header-right input[type=text]{
    float: left;
    width: 20%;
}
.header-right{
    float: right;
    width: 45%;
    font-size: 14px;
}
.header-right button{
    float: right;
}
.header-right a{
    float: right;
}
.body-top-nav,.body-top-slogan{
    background-color: #96f7e3;
}
.body-top-nav{
    border-top: 1px solid #446e68;
}
.slogan{
    padding: 20px 0;
    font-size: 40px;
    color: #446e68;
    text-align: center;
}
.top-nav{
    font-size: 25px;
    color: #446e68;
    text-align: center;
    overflow: auto;
}
.top-nav .top-nav-col{
    padding: 20px;
    float: left;
    width: 33.33%;
    border-right: 1px solid #446e68;
}
.top-nav-col:last-child{
    border-right: none;
}
.product-nav{
    padding: 20px 0;
    margin-bottom: 20px;
}
.product-nav li{
    float: left;
    margin: 0 10px;
}
.product-row{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.product-col{
    float: left;
    width: 310px;
    height: 310px;
    background-color: white;
    position: relative;
}
.first{
    margin-right: 35px;
}
.last{
    float: right;
    margin-left: 35px;
}
.product-image{
    width: 60%;
    margin: 60px auto;
    z-index: 1;
}
.product-image img{
    width: 100%;
}
.price-tag{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #2fdab8;
    padding: 7px 15px;
    color: white;
}
.people-like{
    float: left;
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.people-like img{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid white;
    z-index: 1;
}
.like-count{
    float: left;
    width: 50px;
    margin: 7px 10px ;
    font-size: 12px;
}
.price-tag .icon{
    max-width: 10px;
    margin-right: 5px;
}
.heart-wishlist .icon{
    max-width: 15px;
}