body{
    font-family: 'Roboto', sans-serif;
    width: 900px;
    margin: auto;
    line-height: 1.5;
}
hr{
    border-color: white;
    border-style: none;
    border-bottom: dashed #800000;
}
h2{
    font-size: medium;
    color: #800000;
    font-style: italic;
    text-decoration: underline;
}
ul{
    list-style-type: none;
}