body{
    width: 1200px;
    height: 1000px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
}
.div1{
    width: 750px;
    height: 180px;
    background-color: red;
    color: white;
    margin: 16px 40px 40px 45px;
    position: absolute;
    top: 16px;
}
