*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    font-weight: 200;
    background-color: #f2f2f2;
    color: #b3b3b3;
}
a{
    text-decoration: none;
    color: #b3b3b3;
}
li{
    list-style: none;
}
.menu-top .icon{
    max-width: 30px;
    padding: 0 5px 0 10px;
}
.logo img{
    max-width: 40px;
}
.header,.main-content,.body-top-slogan,.body-top-nav,.product,.footer{
    float: left;
    width: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.header{
    background-color: white;
    padding: 10px 0;
}
.header-left{
    float: left;
    width: 45%;
    padding-top: 5px;
    font-size: 18px;
}
.header-left li{
    float: left;
}
.logo{
    float: left;
    width: 10%;
}
.logo img{
    max-width: 30px;
}
.header-right input[type=text]{
    float: left;
    width: 20%;
}
.header-right{
    float: right;
    width: 45%;
    font-size: 14px;
    margin-top: 2px;
}
.search-bar{
    width: 250px;
}
.container-1{
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 input#search{
    width: 200px;
    height: 26px;
    background: #f2f2f2;
    border: none;
    font-size: 10pt;
    float: left;
    color: #b3b3b3;
    padding-left: 30px;
    border-radius: 40px;
}
.container-1 img{
    position: absolute;
    top: 50%;
    margin-left: 10px;
    margin-top: 6px;
    max-width: 15px;
    z-index: 1;
    color: #b3b3b3;
}
.login{
    float: right;
    width: 50px;
    margin-right: 5px;
    margin-top: 6px;
}
.header-right .login{
    /*float: right;*/
}
.sign-up{
    float: right;
    display: inline;
    width: 100px;
    height: 30px;
    background-color: #2fdab8;
    border-radius: 30px;
    border: none;
}
.sign-up a{
    color: white;
    text-align: center;
}
.body-top-nav,.body-top-slogan{
    background-color: #96f7e3;
}
.body-top-nav{
    border-top: 1px solid #446e68;
}
.slogan{
    padding: 20px 0;
    font-size: 40px;
    color: #446e68;
    text-align: center;
}
.top-nav{
    font-size: 25px;
    font-weight: 200;
    color: #446e68;
    text-align: center;
    overflow: auto;
}
.top-nav .top-nav-col{
    padding: 20px;
    float: left;
    width: 33.33%;
    border-right: 1px solid #446e68;
}
.top-nav-col:last-child{
    border-right: none;
}
.product-nav{
    padding: 20px 0;
    margin-bottom: 20px;
}
.product-nav li{
    float: left;
    margin: 0 10px;
}
.product-row{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.product-col{
    float: left;
    width: 310px;
    height: 310px;
    background-color: white;
    position: relative;
}
.first{
    margin-right: 35px;
}
.last{
    float: right;
    margin-left: 35px;
}
.product-image{
    width: 60%;
    margin: 60px auto;
    z-index: 1;
}
.product-image img{
    width: 100%;
}
.price-tag{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #2fdab8;
    padding: 7px 15px;
    color: white;
}
.product-comment{
    display: inline;
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 12px;
    text-align: center;
}
.product-comment .icon{
    float: right;
    max-width: 10px;
    margin-top: 3px;
    margin-left: 5px;
    z-index: 1;
}
.product-comment .comment-count{
    float: left;
    padding: 0 2px;
}
.people-like{
    float: left;
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.people-like img{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid white;
    z-index: 1;
}
.like-count{
    float: left;
    width: 50px;
    margin: 7px 10px ;
    font-size: 12px;
}
.price-tag .icon{
    max-width: 10px;
    margin-right: 5px;
}
.heart-wishlist{
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
}
.heart-wishlist .icon{
    max-width: 20px;
}
.add-wish-list{
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #b3b3b3;
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
}