*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 18px;
    color: #b3b3b3;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header,.main-content,.top-nav,.footer{
    float: left;
    width: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.header{
    padding: 20px 0;
    background-color: white;
}
.header-left{
    float: left;
    width: 45%;
    padding-top: 10px;
}
.header-middle{
    width: 10%;
    padding-top: 2px;
}
.header-right{
    float: right;
    width: 45%;
}
.menu-top li{
    float: left;
    margin: 0 10px;
}
.menu-top li:first-child{
    margin-left: 0;
}
.header-left li{
    list-style-type: none;
}
.header-left img{
    max-width: 15px;
    height: auto;
}
.header-middle img{
    max-width: 40px;
    height: auto;
}
.sign-up{
    display: inline;
    width: 100px;
    height: 40px;
    background-color: #2fdab8;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 10px 30px;
}
.container-1{
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 input#search{
    width: 200px;
    height: 40px;
    background: #f2f2f2;
    border: none;
    font-size: 10pt;
    float: left;
    color: #b3b3b3;
    padding-left: 45px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 20px;
    margin-top: 8px;
    z-index: 1;
    color: #b3b3b3;
}
.top-nav{
    width: 100%;
    background-color: #96f7e3;
}
.top-nav1{
    color: #446e68;
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
}
.top-nav2{
    float: left;
    width: 100%;
    color: #446e68;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid #446e68;
}
#top-nav2{
    overflow: auto;
}
.top-nav2-1{
    width: 30%;
    margin: auto 0;
}
.top-nav2-2{
    width: 30%;
    border-left: 1px solid #446e68;
    border-right: 1px solid #446e68;
    margin: auto 0;
}
.top-nav2-3{
    width: 30%;
    margin: auto 0;
}