*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background-color: #446e68;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 1;
}
#hour-hand{
    width: 1px;
    padding-top: 20px;
    background-color: #000;
    border: none;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 3;
}
#min-hand{
    width: 1px;
    height: 30px;
    background-color: #fff;
    border: none;
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 5;
}
#sec-hand{
    width: 1px;
    height: 40px;
    background-color: red;
    border: none;
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 6;
    /*transform: rotate(90deg);*/
    /*transform-origin: bottom;*/
}
.container{
    width: 1000px;
    height: 500px;
    background-color: yellow;
    margin: 0 auto;
    display: block;
    position: relative;
}
.slider{
    width: 800px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 100px;
}
#prev{
    font-size: 60px;
    color: #cccccc;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 160px;
    left: 0;
}
#next{
    font-size: 60px;
    color: #cccccc;
    background: none;
    border: none;
    cursor: pointer;
    transform: rotateY(180deg);
    position: absolute;
    top: 160px;
    right: 0;
}
#prev button:active{
    border: none;
    outline: none;
}
.banner{
    width: 640px;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
.banner_img{
    width: 2560px;
    float: left;
}
.banner_img>div{
    float: left;
}
.banner_img img{
    max-width: 640px;
}
